/* Stolen from Water.css! Thanks! */
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

table caption {
  text-align: left;
}

thead {
  border-bottom: 1px solid var(--border);
}

tfoot {
  border-top: 1px solid var(--border);
}