---
css: |
  header.page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header.page img {
    width: 80px;
    height: 80px;
  }
---
<header class="page">
  <a href="/"><img src="{{ header.logo }}"/></a>
  <a class="title" href="/">{{ metas.site }}</a>
</header>