<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} &mdash; OI Lume Expo</title>
  <link rel="stylesheet" href="/css/site.css">
</head>
<body>
  {{# Site header #}}
  {{ comp.page.Header(page.data) }}

  {{# Site navigation #}}
  {{ comp.page.Nav({
    links: techniques
      .map(x => search.page(`technique title=${x}`))
      .filter(x => x)
      .map(({ title, url }) => ({ title, url }))
  }) }}

  <main>
    <h1>{{ title }}</h1>
    {{ content }}
  </main>

  <footer>
    <p>
      Steal this page! Take a look at 
      <a href="{{ repo }}/blob/main/src{{ page.src.entry.path }}">the source code</a>.
    </p>
  </footer>

</body>
</html>