---
title: Home
---
<p>
  This site collects some common approaches to building Lume sites in use across Open Innovations.
</p>

{{ for technique of search.pages('technique', 'order') }}
  <h2>{{ technique.title }}</h2>
  {{ comp.layout.Grid({
    items: technique.catalogue,
    renderer: comp.link.Block
  }) }}
{{ /for }}

