---
title: Home
---
<p>
  This site collects some common approaches to building Lume sites in use across Open Innovations.
</p>

{{ for technique of search.pages('technique') }}
  <h2>{{ technique.title }}</h2>
  {{ comp.link.Grid({ links: technique.catalogue }) }}
{{ /for }}
